body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Garante que o conteúdo não cause rolagem */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Garante que o vídeo fique abaixo da imagem */
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 2; /* Garante que a imagem fique acima do vídeo */
    display: none; /* Inicialmente oculta */
}

.content {
    position: relative;
    z-index: 3; /* Garante que o conteúdo fique acima da imagem e do vídeo */
    color: white; /* Adapta o texto para ser visível sobre o fundo */
    padding: 20px;
}
